@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import "normalize";
@import "compass/css3/transition";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$black:  #040404;
$grey:   mix(#e2e4ee, #fff, 80%);
$blue:   #4ba8ee;
$green:  #59cf52;
$white:  #ededed;
$orange: #cf4412;

$key-size: 50px;
$knob-size: 80px;
$key-padding: 8px;
$key-margin: 1px;

::selection {
	background-color: rgba($orange, 0.2);
}

::-moz-selection {
	background-color: rgba($orange, 0.2);
}

%large {
	width: 2 * $key-size;
}

body {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	background-color: $grey;
	color: $black;
}

#synth-container {
	@include clearfix;
	background: $grey;
	width: 952px;
	padding: 15px;
	border-radius: 10px;
	@include box-shadow(
			0px 8px 20px -5px rgba($black, 0.6),
			0px -6px 30px 0px $white,
			inset 0 3px 20px -5px rgba($black, 0.15),
			inset 0 -3px 1px rgba(#fff, 0.4)
		);
	margin: 50px auto 0;
}

.synth-block {
	background: $grey;
	display: block;
	float: left;
	padding: $key-padding;
	margin: $key-margin;
	box-sizing: border-box;
	border-radius: 5px;
	@include box-shadow(inset 0 0 20px rgba($black, 0.2));

	input, button {
		padding: 0;
		margin: 0;
	}
}

.synth-control {
	position: relative;
	@include transition(cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.2s all);
	@include box-shadow(
			0px 8px 20px -5px rgba($black, 0.6),
			0px -8px 20px -10px rgba($black, 0.2),
			0px -6px 30px 0px rgba(#fff, 0.9),
			inset 0 0 2px rgba($black, 0.3),
			inset 2px 3px 10px rgba($black, 0.15),
			inset 0 -3px 2px -1px rgba(#fff, 0.6)
		);
	font-size: 42px;
	line-height: $key-size;
	border-radius: 50%;
	width: $key-size;
	height: $key-size;
	border: none;
	background: $grey;

	&:active {
		@include box-shadow(
				0px 8px 20px -5px rgba($black, 0.6),
				0px -8px 20px -10px rgba($black, 0.6),
				0px -6px 30px 0px #fff,
				inset 0 0 1px rgba($black, 0.3),
				inset 0 3px 5px rgba(#fff, 0.5),
				inset 0 -2px 1px rgba($black, 0.3)
			);
		.label {
			font-size: 39px;
			color: mix($black, $grey, 80%);
		}
	}
}

.label {
	@include transition(linear 0.2s all);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 42px;
	line-height: 40px;
}

.hidden-field {
	display: none;
	width: 0px;
	visibility: hidden;
}

.row {
	@include clearfix;
	background: $black;
}

#keys {
	.keys-black .synth-block {
		&:nth-child(5n+1), &:nth-child(5n+4) {
			@extend %large;
			text-align: right;
		}

		&:nth-child(5n+3), &:nth-child(5n) {
			@extend %large;
			text-align: left;
		}
	}

	.keys-black .synth-key {
		background-color: $black;
		border: $grey 3px solid;
	}

	.keys-white .synth-key {
		height: 2 * $key-size;
		border-radius: 30px;
	}
}