@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Lato:700);
@import "normalize";
@import "compass/css3/transition";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$black:  #040404;
$grey:   mix(#e2e4ee, #fff, 80%);
$blue:   #4ba8ee;
$green:  #59cf52;
$white:  #ededed;
$orange: #cf4412;

$key-size: 50px;
$key-padding: 8px;
$key-margin: 1px;

%large {
	width: 2 * $key-size;
}

body {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	background-color: $grey;
	color: $black;
}

#synth-container {
	background: $black;
}

.synth-block {
	background: $grey;
	display: block;
	float: left;
	padding: $key-padding;
	margin: $key-margin;
	box-sizing: border-box;
	border-radius: 5px;
	@include box-shadow(inset 0 0 20px rgba($black, 0.3));

	input, button {
		padding: 0;
		margin: 0;
	}
}

.synth-control {
	@include box-shadow(
			0px 8px 20px -5px rgba($black, 0.6),
			0px -6px 30px 0px $white,
			inset 0 3px 10px rgba($black, 0.2),
			inset 0 -3px 1px rgba(#fff, 0.4)
		);
	border-radius: 50%;
	width: $key-size;
	height: $key-size;
	border: none;
}

.row {
	@include clearfix;
}

#keys {
	.keys-black .synth-block {
		&:nth-child(5n+1), &:nth-child(5n+4) {
			@extend %large;
			text-align: right;
		}

		&:nth-child(5n+3), &:nth-child(5n) {
			@extend %large;
			text-align: left;
		}
	}

	.keys-black .synth-key {
		background-color: $black;
		border: $grey 3px solid;
	}

	.keys-white .synth-key {
		background-color: $grey;
		height: 2 * $key-size;
		border-radius: 30px;
	}
}